.si-modal-wrap {
  position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
  bottom: 0;
  display: flex;
  height: 100%;
}
.si-modal {
  margin:auto;
  transition: all 0.3s ease;
  background-color: white;
  border: 1px solid #444;
  overflow: auto;
  z-index: 1;
}
@media (max-width: 640px) {
  .si-modal {
    width: 100% !important;
    height: 100% !important;
  }
}
.si-modal img {
  max-width: 100%;
}
.si-modal.si-modal--opened {
  display: block;
}

.si-modal__closeButton {
  position: absolute;
  left: 16px;
  top: 16px;
  z-index: 2;
  cursor: pointer;
}

.si-modal-wrap {
  display: none;
}
.si-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  z-index: 1;
}

html.si-modal-opened {
  overflow: hidden;
}
html.si-modal-opened .si-modal-overlay {
  display: block;
}
html.si-modal-opened .si-modal-wrap {
  display: flex;
}