.si-slider {
  height: 100%;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}
.si-slider__posts {
  height: calc(100% - 40px);
}
.si-slider__post {
  float: left;
  height: 100%;
}
.si-slider__postContent {
  padding: 16px;
  height: calc(100% - 16px);
}
.si-slider__post h2:empty {
  display: none;
}
.si-slider__post img {
  max-height: 100%;
  display: block;
  margin: auto;
}
.si-slider__nav{
  position: absolute;
}
@media (max-width: 640px) {
  .si-slider__nav{
    bottom: 2px;
    right: 2px;
  }
}
.si-slider__nav ul {
  margin: 0;
  height: 32px;
  padding: 0;
  margin-top: 4px;
}
.si-slider__nav li {
  float: right;
  list-style: none;
  margin-left: 8px;
}

.si-slider__nav li a {
  cursor: pointer;
  background-color: #222;
  color: #f3f3f3;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  width: 32px;
  display: block;
}